<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfdKzDwcqvrVOAwDGBm7_JUb2DX1F1CqE</string>
	<key>GCM_SENDER_ID</key>
	<string>655317573196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testapp.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-45f5b</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-45f5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655317573196:ios:2136cd1e9ef061b9ef9ee9</string>
</dict>
</plist>